In [62]:
import sys
#!{sys.executable} -m pip install pytesseract

In [63]:
import cv2
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf

In [64]:
df_train = pd.read_csv("emnist-balanced-train.csv")

In [65]:
df_train

,45,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.524,0.525,0.526,0.527,0.528,0.529,0.530,0.531,0.532,0.533
0,36,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,43,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,42,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112794,22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112795,17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112796,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112797,31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112798,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
cols = df_train.columns.tolist()
#features = cols[-1:] + cols[:-1]
#df = df[cols]
target = df_train[cols[0:1]]
target

features = df_train[cols[1:]]
features.shape

(112799, 784)

In [67]:
features_array = tf.keras.utils.normalize(features.to_numpy(), axis=1)


features_array

target_array = target.to_numpy()


#target_array = target.to_numpy()
#target_array

In [68]:
features_array = np.resize(features_array, (112800, 28, 28))

In [69]:
for x in range(len(features_array)):
    features_array[x] = features_array[x].transpose()

In [70]:
df_test = pd.read_csv("emnist-mnist-test.csv")

cols = df_test.columns.tolist()
#features = cols[-1:] + cols[:-1]
#df = df[cols]
target_test = df_test[cols[0:1]]

features_test = df_test[cols[1:]]

features_test = np.resize(features_test, (18800, 28, 28))

for x in range(len(features_test)):
    features_test[x] = features_test[x].transpose()

features_test_array = tf.keras.utils.normalize(features_test, axis=1)

target_test_array = target_test.to_numpy()

target_test.shape

features_test_array.shape

In [72]:
features_test_array.shape


target_test_array.shape

NameError: name 'features_test_array' is not defined

In [ ]:
model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Conv2D(28, (3, 3), activation="relu", input_shape=(28, 28, 1)));

model.add(tf.keras.layers.MaxPooling2D((2, 2)));

model.add(tf.keras.layers.Conv2D(56, (3, 3), activation="relu"));

model.add(tf.keras.layers.MaxPooling2D((2, 2)));
  
model.add(tf.keras.layers.Flatten());

model.add(tf.keras.layers.Dense(units=47, activation=tf.nn.softmax))

# Compiling and optimizing model
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# Training the model
model.fit(features_array, target_array, epochs=10)

# Saving the model
model.save('handwritten_digits.model')

In [ ]:
val_loss, val_acc = model.evaluate(features_test_array, target_test_array)
print(val_loss)
print(val_acc)

In [ ]:
example = features_array[25:26, : ]

In [ ]:
plt.imshow(example[0], cmap=plt.cm.binary)
plt.show()

In [ ]:
character_map = {0:'0', 1:'1', 2:'2', 3:'3', 4:'4', 5:'5', 6:'6', 7:'7', 8:'8', 9:'9', 10:'A', 11:'B', 12:'C', 13:'D', 14:'E', 15:'F', 16:'G', 17:'H', 18:'I', 19:'J', 20:'K', 21:'L', 22:'M', 23:'N', 24:'O', 25:'P', 26:'Q', 27:'R', 28:'S', 29:'T', 30:'U', 31:'V', 32:'W', 33:'X', 34:'Y', 35:'Z', 36:'a', 37:'b', 38:'d', 39:'e', 40:'f', 41:'g', 42:'h', 43:'n', 44:'q', 45:'r', 46:'t'}

In [ ]:
model = tf.keras.models.load_model('handwritten_digits.model')

img = cv2.imread('B.jpg')[:, :, 0]
img = np.invert(np.array([img]))

img_pred = tf.keras.utils.normalize(img, axis=1)

example[0] = example[0].transpose()

prediction = model.predict(features_array[25:26, : ])
print("The character is probably a ", character_map[np.argmax(prediction)])


print(img)

plt.imshow(img[0], cmap=plt.cm.binary)
plt.show()

In [ ]:
features_test_array[21:22, : ]

for x in range(len(features_test_array)):
    features_test_array[x] = features_test_array[x].transpose()

In [ ]:
model = tf.keras.models.load_model('handwritten_digits.model')

img = cv2.imread('T.jpg')[:,:,0]

type(img)

img = np.reshape(img, (1,784))

img = img[:, 0:783]

img.shape